<details>
  <summary>Details</summary>
  Aqui vai os detalhes da aplicacao e de outros elementos que precisem ser descritos na aplicacao.
</details>

<details>
  <summary>Details2</summary>
  Aqui vai os detalhes da aplicacao e de outros elementos que precisem ser descritos na aplicacao.
</details>

<figure>
  <img 
    src="assets/condutor.jpg" 
    alt="casa valinhos"
    width="150px"
    height="150px"
    >
    <figcaption>Casa em Valinhos</figcaption>
</figure>

<aside>
  <p>The Rough-skinned Newt defends itself with a deadly neurotoxin.</p>
</aside>

<p>
  Several species of salamander inhabit the temperate rainforest of the Pacific Northwest, including the Ensatina, the
  Northwestern Salamander and the Rough-skinned Newt. Most salamanders are nocturnal, and hunt for insects, worms and
  other small creatures.
</p>


<router-outlet />
